{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="sidebar-card" itemscope itemtype="http://schema.org/Person">
  <div class="sidebar-card__header">
    <div class="sidebar-card__avatar">
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}">
      {% else %}
        <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
      {% endif %}
    </div>
    <div class="sidebar-card__info">
      <h3 class="sidebar-card__name">{{ author.name }}</h3>
      {% if author.pronouns %}<p class="sidebar-card__pronouns">{{ author.pronouns }}</p>{% endif %}
      {% if author.bio %}<p class="sidebar-card__bio">{{ author.bio }}</p>{% endif %}
    </div>
  </div>

  <ul class="sidebar-card__links author__urls social-icons">
    {% if author.location %}
      <li>
        <i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>
        <span>{{ author.location }}</span>
      </li>
    {% endif %}
    {% if author.employer %}
      <li>
        <i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>
        {% if author.employer_url %}
          <a href="{{ author.employer_url }}" target="_blank" rel="noopener">{{ author.employer }}</a>
        {% else %}
          <span>{{ author.employer }}</span>
        {% endif %}
      </li>
    {% endif %}
    {% if author.uri %}
      <li>
        <i class="fas fa-fw fa-link icon-pad-right" aria-hidden="true"></i>
        <a href="{{ author.uri }}">
          {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a>
      </li>
    {% endif %}
    {% if author.email %}
      <li>
        <i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>
        <a href="mailto:{{ author.email }}">
          {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a>
      </li>
    {% endif %}

    {% if author.arxiv %}
      <li><i class="ai ai-arxiv ai-fw icon-pad-right"></i><a href="{{ author.arxiv }}">arXiv</a></li>
    {% endif %}
    {% if author.googlescholar %}
      <li><i class="ai ai-google-scholar icon-pad-right"></i><a href="{{ author.googlescholar }}">Google Scholar</a></li>
    {% endif %}
    {% if author.semantic %}
      <li><i class="ai ai-semantic-scholar ai-fw icon-pad-right"></i><a href="{{ author.semantic }}">Semantic Scholar</a></li>
    {% endif %}
    {% if author.impactstory %}
      <li><i class="ai ai-impactstory ai-fw icon-pad-right"></i><a href="{{ author.impactstory }}">Impactstory</a></li>
    {% endif %}
    {% if author.orcid %}
      <li><i class="ai ai-orcid ai-fw icon-pad-right"></i><a href="{{ author.orcid }}">ORCID</a></li>
    {% endif %}
    {% if author.pubmed %}
      <li><i class="ai ai-pubmed ai-fw icon-pad-right"></i><a href="{{ author.pubmed }}">PubMed</a></li>
    {% endif %}
    {% if author.researchgate %}
      <li><i class="fab fa-fw fa-researchgate icon-pad-right" aria-hidden="true"></i><a href="{{ author.researchgate }}">ResearchGate</a></li>
    {% endif %}
    {% if author.scopus %}
      <li><i class="ai ai-scopus icon-pad-right"></i><a href="{{ author.scopus }}">Scopus</a></li>
    {% endif %}

    {% if author.bitbucket %}
      <li><i class="fab fa-fw fa-bitbucket icon-pad-right" aria-hidden="true"></i><a href="https://bitbucket.org/{{ author.bitbucket }}">Bitbucket</a></li>
    {% endif %}
    {% if author.codepen %}
      <li><i class="fab fa-fw fa-codepen icon-pad-right" aria-hidden="true"></i><a href="https://codepen.io/{{ author.codepen }}">CodePen</a></li>
    {% endif %}
    {% if author.dribbble %}
      <li><i class="fab fa-fw fa-dribbble icon-pad-right" aria-hidden="true"></i><a href="https://dribbble.com/{{ author.dribbble }}">Dribbble</a></li>
    {% endif %}
    {% if author.github %}
      <li><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i><a href="https://github.com/{{ author.github }}">GitHub</a></li>
    {% endif %}
    {% if author.kaggle %}
      <li><i class="fab fa-fw fa-kaggle icon-pad-right" aria-hidden="true"></i><a href="https://kaggle.com/{{ author.kaggle }}">Kaggle</a></li>
    {% endif %}
    {% if author.stackoverflow %}
      <li><i class="fab fa-fw fa-stack-overflow icon-pad-right" aria-hidden="true"></i><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}">Stackoverflow</a></li>
    {% endif %}

    {% if author.bluesky %}
      <li><i class="fab fa-fw fa-bluesky icon-pad-right" aria-hidden="true"></i><a href="https://bsky.app/profile/{{ author.bluesky }}">Bluesky</a></li>
    {% endif %}
    {% if author.facebook %}
      <li><i class="fab fa-fw fa-facebook-f icon-pad-right" aria-hidden="true"></i><a href="https://www.facebook.com/{{ author.facebook }}">Facebook</a></li>
    {% endif %}
    {% if author.flickr %}
      <li><i class="fab fa-fw fa-flickr icon-pad-right" aria-hidden="true"></i><a href="https://www.flickr.com/{{ author.flickr }}">Flickr</a></li>
    {% endif %}
    {% if author.foursquare %}
      <li><i class="fab fa-fw fa-foursquare icon-pad-right" aria-hidden="true"></i><a href="https://foursquare.com/{{ author.foursquare }}">Foursquare</a></li>
    {% endif %}
    {% if author.goodreads %}
      <li><i class="fab fa-fw fa-goodreads icon-pad-right" aria-hidden="true"></i><a href="https://www.goodreads.com/{{ author.goodreads }}">Goodreads</a></li>
    {% endif %}
    {% if author.google_plus %}
      <li><i class="fab fa-fw fa-google-plus-g icon-pad-right" aria-hidden="true"></i><a href="https://plus.google.com/+{{ author.google_plus }}">Google+</a></li>
    {% endif %}
    {% if author.keybase %}
      <li><i class="fas fa-fw fa-key icon-pad-right" aria-hidden="true"></i><a href="https://keybase.io/{{ author.keybase }}">Keybase</a></li>
    {% endif %}
    {% if author.instagram %}
      <li><i class="fab fa-fw fa-instagram icon-pad-right" aria-hidden="true"></i><a href="https://instagram.com/{{ author.instagram }}">Instagram</a></li>
    {% endif %}
    {% if author.lastfm %}
      <li><i class="fab fa-fw fa-lastfm icon-pad-right" aria-hidden="true"></i><a href="https://last.fm/user/{{ author.lastfm }}">Last.fm</a></li>
    {% endif %}
    {% if author.linkedin %}
      <li><i class="fab fa-fw fa-linkedin icon-pad-right" aria-hidden="true"></i><a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a></li>
    {% endif %}
    {% if author.mastodon %}
      <li><i class="fab fa-fw fa-mastodon icon-pad-right" aria-hidden="true"></i><a href="{{ author.mastodon }}">Mastodon</a></li>
    {% endif %}
    {% if author.medium %}
      <li><i class="fab fa-fw fa-medium icon-pad-right" aria-hidden="true"></i><a href="{{ author.medium }}">Medium</a></li>
    {% endif %}
    {% if author.pinterest %}
      <li><i class="fab fa-fw fa-pinterest icon-pad-right" aria-hidden="true"></i><a href="https://www.pinterest.com/{{ author.pinterest }}">Pinterest</a></li>
    {% endif %}
    {% if author.soundcloud %}
      <li><i class="fab fa-fw fa-soundcloud icon-pad-right" aria-hidden="true"></i><a href="https://soundcloud.com/{{ author.soundcloud }}">Soundcloud</a></li>
    {% endif %}
    {% if author.steam %}
      <li><i class="fab fa-fw fa-steam icon-pad-right" aria-hidden="true"></i><a href="https://steamcommunity.com/id/{{ author.steam }}">Steam</a></li>
    {% endif %}
    {% if author.telegram %}
      <li><i class="fab fa-fw fa-telegram icon-pad-right" aria-hidden="true"></i><a href="{{ author.telegram }}">Telegram</a></li>
    {% endif %}
    {% if author.tumblr %}
      <li><i class="fab fa-fw fa-tumblr icon-pad-right" aria-hidden="true"></i><a href="https://{{ author.tumblr }}.tumblr.com">Tumblr</a></li>
    {% endif %}
    {% if author.twitter %}
      <li><i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i><a href="https://twitter.com/{{ author.twitter }}">X (formerly Twitter)</a></li>
    {% endif %}
    {% if author.vine %}
      <li><i class="fab fa-fw fa-vine icon-pad-right" aria-hidden="true"></i><a href="https://vine.co/u/{{ author.vine }}">Vine</a></li>
    {% endif %}
    {% if author.wechat %}
      <li><i class="fab fa-fw fa-weixin icon-pad-right" aria-hidden="true"></i><a href="{{ author.wechat }}">WeChat</a></li>
    {% endif %}
    {% if author.weibo %}
      <li><i class="fab fa-fw fa-weibo icon-pad-right" aria-hidden="true"></i><a href="https://www.weibo.com/{{ author.weibo }}">Weibo</a></li>
    {% endif %}
    {% if author.wikipedia %}
      <li><i class="fab fa-fw fa-wikipedia-w icon-pad-right" aria-hidden="true"></i><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}">Wikipedia</a></li>
    {% endif %}
    {% if author.xing %}
      <li><i class="fab fa-fw fa-xing icon-pad-right" aria-hidden="true"></i><a href="https://www.xing.com/profile/{{ author.xing }}">XING</a></li>
    {% endif %}
    {% if author.youtube %}
      <li><i class="fab fa-fw fa-youtube icon-pad-right" aria-hidden="true"></i><a href="https://www.youtube.com/@{{ author.youtube }}">YouTube</a></li>
    {% endif %}
    {% if author.zhihu %}
      <li><i class="fab fa-fw fa-zhihu icon-pad-right" aria-hidden="true"></i><a href="https://www.zhihu.com/people/{{ author.zhihu }}">Zhihu</a></li>
    {% endif %}
  </ul>
</div>
